pandas==2.2.2
numpy<2.0
scikit-learn==1.4.2
xgboost==2.0.3
lightgbm==4.3.0
imbalanced-learn==0.12.2
shap==0.45.0
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0
streamlit==1.35.0
joblib==1.4.2
jupyter==1.0.0
